<% @page = "home" %>
	    <div class="main">
	        <div class="main-inner">
	        	

	            <div class="content">
	               

<div class="container">
	<div class="page-title">
		<h2>Materialist HTML Template</h2>

		<p>
			Maecenas augue magna, mollis a dictum id, ornare ac turpis. Morbi vel faucibus ligula.
		</p>
	</div><!-- /.page-title -->

	<div class="row">
		<div class="col-sm-12 col-xl-10">
			<div class="cards-wrapper">
				<div class="row">
					 
						<div class="col-sm-6 col-md-4">
							<div class="card">
	<div class="card-image" style="background-image: url('assets/img/tmp/card-2.jpg');">
		<a href="listing-detail.html"></a> 

		<div class="card-image-rating">
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
		</div><!-- /.card-image-rating -->
	</div><!-- /.card-image -->

	<div class="card-content">
		<h3><a href="listing-detail.html">Drink &amp; Food</a></h3>
		<h2><a href="listing-detail.html">Cozzy Coffee Shop</a></h2>
	</div><!-- /.card-content -->

	<div class="card-actions">
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">favorite</i></a>
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">flag</i></a>
		<a href="listing-detail.html" class="card-action-btn btn btn-transparent">Show More</a>
	</div><!-- /.card-actions -->
</div><!-- /.card -->
						</div><!-- /.col-* -->
					 
						<div class="col-sm-6 col-md-4">
							<div class="card">
	<div class="card-image" style="background-image: url('assets/img/tmp/card-1.jpg');">
		<a href="listing-detail.html"></a> 

		<div class="card-image-rating">
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
		</div><!-- /.card-image-rating -->
	</div><!-- /.card-image -->

	<div class="card-content">
		<h3><a href="listing-detail.html">Education</a></h3>
		<h2><a href="listing-detail.html">Piano Lessons For Beginners</a></h2>
	</div><!-- /.card-content -->

	<div class="card-actions">
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">favorite</i></a>
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">flag</i></a>
		<a href="listing-detail.html" class="card-action-btn btn btn-transparent">Show More</a>
	</div><!-- /.card-actions -->
</div><!-- /.card -->
						</div><!-- /.col-* -->
					 
						<div class="col-sm-6 col-md-4">
							<div class="card">
	<div class="card-image" style="background-image: url('assets/img/tmp/card-3.jpg');">
		<a href="listing-detail.html"></a> 

		<div class="card-image-rating">
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
		</div><!-- /.card-image-rating -->
	</div><!-- /.card-image -->

	<div class="card-content">
		<h3><a href="listing-detail.html">Restaurant</a></h3>
		<h2><a href="listing-detail.html">Delicious Ocean Restaurant</a></h2>
	</div><!-- /.card-content -->

	<div class="card-actions">
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">favorite</i></a>
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">flag</i></a>
		<a href="listing-detail.html" class="card-action-btn btn btn-transparent">Show More</a>
	</div><!-- /.card-actions -->
</div><!-- /.card -->
						</div><!-- /.col-* -->
					 
						<div class="col-sm-6 col-md-4">
							<div class="card">
	<div class="card-image" style="background-image: url('assets/img/tmp/card-4.jpg');">
		<a href="listing-detail.html"></a> 

		<div class="card-image-rating">
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
		</div><!-- /.card-image-rating -->
	</div><!-- /.card-image -->

	<div class="card-content">
		<h3><a href="listing-detail.html">Food &amp; Drink</a></h3>
		<h2><a href="listing-detail.html">Healthy Breakfast</a></h2>
	</div><!-- /.card-content -->

	<div class="card-actions">
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">favorite</i></a>
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">flag</i></a>
		<a href="listing-detail.html" class="card-action-btn btn btn-transparent">Show More</a>
	</div><!-- /.card-actions -->
</div><!-- /.card -->
						</div><!-- /.col-* -->
					 
						<div class="col-sm-6 col-md-4">
							<div class="card">
	<div class="card-image" style="background-image: url('assets/img/tmp/card-5.jpg');">
		<a href="listing-detail.html"></a> 

		<div class="card-image-rating">
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
		</div><!-- /.card-image-rating -->
	</div><!-- /.card-image -->

	<div class="card-content">
		<h3><a href="listing-detail.html">Travel</a></h3>
		<h2><a href="listing-detail.html">London Trip</a></h2>
	</div><!-- /.card-content -->

	<div class="card-actions">
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">favorite</i></a>
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">flag</i></a>
		<a href="listing-detail.html" class="card-action-btn btn btn-transparent">Show More</a>
	</div><!-- /.card-actions -->
</div><!-- /.card -->
						</div><!-- /.col-* -->
					 
						<div class="col-sm-6 col-md-4">
							<div class="card">
	<div class="card-image" style="background-image: url('assets/img/tmp/card-6.jpg');">
		<a href="listing-detail.html"></a> 

		<div class="card-image-rating">
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
			<i class="md-icon">star</i>
		</div><!-- /.card-image-rating -->
	</div><!-- /.card-image -->

	<div class="card-content">
		<h3><a href="listing-detail.html">Food &amp; Drink</a></h3>
		<h2><a href="listing-detail.html">Bio Vegatables</a></h2>
	</div><!-- /.card-content -->

	<div class="card-actions">
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">favorite</i></a>
		<a href="listing-detail.html" class="card-action-icon"><i class="md-icon">flag</i></a>
		<a href="listing-detail.html" class="card-action-btn btn btn-transparent">Show More</a>
	</div><!-- /.card-actions -->
</div><!-- /.card -->
						</div><!-- /.col-* -->
					
				</div><!-- /.row -->
			</div><!-- /.card-wrapper -->
		</div><!-- /.col-* -->	
	</div><!-- /.row -->
</div><!-- /.container -->

	            </div><!-- /.content -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->




