<% @page = "home" %>
	    <div class="main">
	        <div class="main-inner">
	        	

	            <div class="content">
	               

<div class="container">
	<div class="page-title">
		<h2>Check out some of our videos</h2>

	</div><!-- /.page-title -->


		<div class="row">
		<div class="col-sm-12 col-xl-10">
			<div class="cards-wrapper">
				<div class="row">
					 <% @entries.each do |entry| %>
						<div class="col-sm-6 col-md-4">
							<div class="card">
                        <%= link_to (image_tag entry.reel.to_s.gsub('.mp4', '.jpg'), class:"card-image", width:"100%"), entry%>
                        <div class="card-content">
                            <h3><%= link_to entry.user.username, entry.user %></h3>
                            <h2><%= entry.title %></h2>
                        </div><!-- /.card-content -->
                    </div><!-- /.card -->
						</div><!-- /.col-* -->
					 <% end %>
				</div><!-- /.row -->
			</div><!-- /.card-wrapper -->
		</div><!-- /.col-* -->	
	</div><!-- /.row -->
    
</div><!-- /.container -->
</div><!-- /.container -->
                
	            </div><!-- /.content -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->


