<div class="container push-top-bottom">
    <div class="col-md-6 col-md-offset-3">
         <div class="box">
            <h1>Editing Album</h1>

            <%= render 'form' %>

            <%= link_to 'Show', @album %> |
            <%= link_to 'Back', albums_path %>
        </div>
    </div>
</div>