.hero-content .btn{
    color: #000;
    background-color: #fff;
}

.hero-content .btn:hover{
    color: #000;
    background-color: #fff;
}

.hero-content .btn:active{
    color: #000;
    background-color: #fff;
}