.hero-content .btn{
    color: #000;
    background-color: #fff;
}

.hero-content .btn:hover{
    color: #000;
    background-color: #fff;
}

.hero-content .btn:active{
    color: #000;
    background-color: #fff;
}




.layout-empty p{
    color: whitesmoke;
}

.dull{
    color: grey;
}

.large-padding{
    padding-top: 50px;
    padding-bottom: 100px;
}