	<div class="footer">
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-left">
					Materialist HTML Template - Created by <a href="#">Code Vision</a>
				</div><!-- /.footer-bottom-left -->

				<div class="footer-bottom-right">
					Copyright &copy; 2016 Notebrush- All Rights Reserved
				</div><!-- /.footer-bottom-right -->			
			</div><!-- /.container -->
		</div><!-- /.footer-bottom -->
	</div><!-- /.footer -->
