


<div class="footer">
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-left">
					Create and share music visuals globally. 
				</div><!-- /.footer-bottom-left -->

				<div class="footer-bottom-right">
					Copyright &copy; 2016 Notebrush- All Rights Reserved
				</div><!-- /.footer-bottom-right -->			
			</div><!-- /.container -->
		</div><!-- /.footer-bottom -->
	</div><!-- /.footer -->


