
	<div class="header">
		<div class="header-inner">
			<div class="header-top">
				<div class="container">
					

					<div class="nav-primary-wrapper collapse navbar-toggleable-sm">
						<ul class="nav nav-pills ">
                            <li><a href="/">
						<img src="http://res.cloudinary.com/dbgxmocga/image/upload/v1463944131/notebrush_w0svxy.png" width="100px">
					</a></li>
							<li class="nav-item has-submenu">
								<a href="index.html" class="nav-link active">Home</a>

								<ul class="submenu">
									<li><a href="index-leaflet.html">Leaflet Map</a></li>
									<li><a href="index-carousel.html">Image Carousel</a></li>
								</ul>							
							</li>

							<li class="nav-item has-submenu">
								<a href="listings.html" class="nav-link ">Browse</a>

								<ul class="submenu">
									<li><a href="listings.html">Listings Grid</a></li>
									<li><a href="listings-map.html">Listings Map</a></li>
									<li><a href="listing-detail.html">Detail Page</a></li>
								</ul>
							</li>

							<li class="nav-item has-submenu">
								<a href="#" class="nav-link ">About Us</a>
							</li>

							<li class="nav-item has-submenu">
								<a href="#" class="nav-link ">Admin</a>

								<ul class="submenu">
									<li><a href="admin-dashboard.html">Dashboard</a></li>
									<li><a href="admin-listings.html">Listings</a></li>
									<li><a href="admin-reviews.html">Reviews</a></li>
									<li><a href="admin-users.html">Users</a></li>
									<li><a href="admin-settings.html">Settings</a></li>
								</ul>
							</li>
						</ul><!-- /.nav -->
					</div><!-- /.nav-primary-wrapper -->

					<ul class="nav nav-pills secondary">
						<li class="nav-item">
							<a href="#" class="nav-link circle"><i class="md-icon">search</i></a>
						</li>
						<li class="nav-item"><a href="submit.html" class="nav-link circle"><i class="md-icon">add</i></a></li>
						<li class="nav-item user-avatar-wrapper">
							<a href="#" class="nav-link circle user-avatar-image" style="background-image: url('assets/img/tmp/profile-1.jpg')"></a>
							<span class="user-avatar-status"></span>

							<ul class="header-more-menu">
								<li><a href="#">Profile</a></li>
								<li><a href="#">Password</a></li>
								<li><a href="#">Submissions</a></li>
								<li><a href="#">Logout</a></li>
							</ul>							
						</li>
					</ul>

					<button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
                        <i class="md-icon">menu</i>
                    </button>						
				</div><!-- /.container -->
			</div><!-- /.header-top -->

			
				
		</div><!-- /.header-inner -->
	</div><!-- /.header -->
