
	<div class="header">
		<div class="header-inner">
			<div class="header-top">
				<div class="container">
					

					<div class="nav-primary-wrapper collapse navbar-toggleable-sm">
						<ul class="nav nav-pills ">
                            <li><a href="/">
						<img src="http://res.cloudinary.com/dbgxmocga/image/upload/v1463944131/notebrush_w0svxy.png" width="100px">
					</a></li>
							<li class="nav-item has-submenu">
								<a href="#" class="nav-link ">Home</a>
							</li>

							<li class="nav-item has-submenu">
								<a href="listings.html" class="nav-link ">Browse</a>

								<ul class="submenu">
									<li><a href="listings.html">Listings Grid</a></li>
									<li><a href="listings-map.html">Listings Map</a></li>
									<li><a href="listing-detail.html">Detail Page</a></li>
								</ul>
							</li>

							<li class="nav-item has-submenu">
								<a href="#" class="nav-link ">About Us</a>
							</li>

						</ul><!-- /.nav -->
					</div><!-- /.nav-primary-wrapper -->

					<ul class="nav nav-pills secondary">
						<li class="nav-item user-avatar-wrapper">
                            <%= image_tag current_user.gravatar_url, class:"nav-link circle user-avatar-image"%>
							<span class="user-avatar-status"></span>

							<ul class="header-more-menu">
								<% if user_signed_in? %>
                                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                                <% else %>
                                  <li><%= link_to "Login", new_user_session_path %></li>
                                  <li><%= link_to "Sign Up", new_user_registration_path %></li>
                                <% end%>
							</ul>							
						</li>
					</ul>

					<button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
                        <i class="md-icon">menu</i>
                    </button>						
				</div><!-- /.container -->
			</div><!-- /.header-top -->

			
				
		</div><!-- /.header-inner -->
	</div><!-- /.header -->
