 <div class="hero" style="background-image: url('http://res.cloudinary.com/dbgxmocga/image/upload/v1463943083/phone_t6xkum.png'); ">
	<div class="hero-content">
		<div class="container">
			<h1>Where Music Hits the Canvas</h1>
			
			<p>
				Create and share music visuals globally.
			</p>

			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
            <a href="/entries" class="btn btn-primary white">JOIN THE REVOLUTION!</a>
		</div><!-- /.container -->
	</div><!-- /.hero-content -->

	<div class="hero-layer"></div>
</div><!-- /.hero -->